doctype html
html(class=isMobile ? 'mobile' : 'desktop')
  head
    title
      | Dark fair

  body

    div(class="main-cnt" id="MainContainer")

      div(class="menu-cnt" id="MenuContainer")
        img(src="/images/darkfair/menu_icon.png" class="open")
        img(src="/images/darkfair/menu_close_icon.png" class="close")
        div(class="menu-text-cnt")
          b
            | dark fair
          ul(class="menu-list")
            li(data-block-name="description")
              | Info
            li(data-block-name="role")
              | Choose your role
            li(data-block-name="tickets")
              | Buy tickets
            li(data-block-name="contacts")
              | Contacts

      div(class="main-block start-block")
        h1
          |dark fair
        div(class="text-block")
          | creama cup, frappucino decaffeinated mocha sit galao
          br
          | seasonal french press brewed coffee. aromatic milk variety,
          br
          | roast doppio aroma breve qui con pannna galao?
        div(class="main-btn")
          |watch teaser
        div(class="main-btn")
          | buy ticket
        div(class="main-btn")
          | choose your role



      div(class="main-block description-block" id="DescriptionBlock")
        div(class="text-block order0")
          img(src="/images/darkfair/description0.png")
          |creama cup, frappucino decaffeinated mocha sit galao
          br
          |seasonal french press brewed coffee. aromatic milk variety,
          br
          |roast doppio aroma breve qui con pannna galao?
        div(class="text-block order1")
          if isMobile
            img(src="/images/darkfair/description1.png")
          | creama cup, frappucino decaffeinated mocha sit galao
          br
          | seasonal french press brewed coffee. aromatic milk variety,
          br
          | roast doppio aroma breve qui con pannna galao?
          if !isMobile
            img(src="/images/darkfair/description1.png")

      div(class="main-block polling-block" id="PollingBlock")
        ul(class="image-list question-list" id="QuestionList")
        div(class="text-block" id="QuestionTextCnt")
        ul(class="answer-list" id="QuestionAnswerList")

      div(class="main-block role-block" id="RoleBlock")
        ul(class="image-list role-list" id="RoleList")
          each role in roles
            li(data-role-name=role.name)
              img(src="/images/darkfair/fool.png")
              span= role.name
        div(class="role-info-cnt" id="RoleInfoCnt")
          img(src="/images/darkfair/fool.png")
          div(class="description-cnt")
            b(class="name")
            div(class="main-btn")
              | watch teaser
            p(class="description")

        div(class="main-btn buy-ticket-btn")
          | buy ticket for this role

      div(class="main-block")
        div(id="CalendarCnt")

      div(class="main-block contacts-block" id="ContactsBlock")
        h1
          | contacts
        div(class="text-block")
          | creama cup, frappucino decaffeinated mocha sit galao
          br
          | seasonal french press brewed coffee. aromatic milk variety,
          br
          | roast doppio aroma breve qui con pannna galao?

      img(src="/images/darkfair/arrow_up.png" class="navigation-arrow up")
      img(src="/images/darkfair/arrow_down.png" class="navigation-arrow down")

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
    script(type="text/javascript")!= "window.questionListData = " + JSON.stringify(questions) + ";"
    script(type="text/javascript")!= "window.roleListData = " + JSON.stringify(roles) + ";"
    script(type='text/javascript')
      include ./../dist/js/darkfair.js